{% extends "base.html" %}

{% block content %}


<strong>
    <a href="//api.whatsapp.com/send?phone=919140152537&text=JMS Kart Please send valid prescription and home adress">
       <img src="media/wat.jpg" width="30" height="30"> Order directly on wats app with valid prescription

    </a>
    <li>
        You can also add medicine in kart and upload prescription
    </li>

    <a href="//api.whatsapp.com/send?phone=919140152537&text=JMS Kart Please send valid prescription and home adress">
    <li style="color: rgb(51, 153, 255)">
        Tired of Searching medicine which are not available easily!!
        Please send us SMS or wats app and we will contact you
    </li>
    </a>

</strong>

{% endblock content %}


